<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VagaList</title>
</head>
<body>
    {% for vaga in object_list %}
        
        <b><a class="two" href="{% url 'vaga_update' vaga.id %}" target="_blank">{{vaga.id}}</a></b>

        <p>{{vaga.titulo}} </p>
        <p>{{vaga.descricao}} </p>
        <p>{{vaga.salario}} </p>
        <p>{{vaga.tipo_contrato}} </p>
        <p>{{vaga.status}} </p>
        <p>{{vaga.empresa}} </p>
        <br>
        <a class="one" href="{% url 'vaga_delete' vaga.id %}" target="_blank">Deletar</a>
    {% endfor %}
</body>
</html>